<article class="post">
    <div class="title">
        <h3>{{title}}</h3>
        <p class="p-content">{{post_content}}</p>
    </div>
    <div class="meta">
        {{user.username}} on
        {{format_date created_at}}
        |
        <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
    </div>
</article>